.appContainer {
    display: grid;
    grid-template-rows: 500px 1fr;

    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 3%;

}


.upperContainer {
    grid-row: 1 / 1;

    display: grid;
    grid-template-columns: auto;
    
    /* border: 1px solid gray; */
}

.lowerContainer {
    grid-row: 2 / 2;

}


.linksBox {
    grid-column: 1 / 1;

    border: 1px solid gray;

    min-width: 600px;

}


.qrBox {
    grid-column: 2 / 2;

    border: 1px solid gray;

    min-width: 600px;

}


.urlGenerator {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;

}

.qrPresenter {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;

    text-align: center;
}




.recordsContainer {

}


.shortenedLink {
    background-color: rgb(185, 220, 241);
}

.aligningButton {
    margin-right: 5px;
}