.appContainer {
    display: grid;
    grid-template-rows: 450px 1fr;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}


.upperContainer {
    grid-row: 1 / 1;

    display: grid;
    grid-template-columns: auto;
    
    /* border: 1px solid gray; */
}

.lowerContainer {
    grid-row: 2 / 2;

    /* border: 1px solid gray; */

}





.qrBox {
    grid-column: 2 / 2;
    /* border-left: 1px solid gray; */
    min-width: 600px;
}
.qrPresenter {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15%;

    text-align: center;
}
.qrCard {
    min-height: 265px;
    min-width: 265px;
}
.qrImage {
    margin-top: 10px;
}
.qrText {
    margin-top: 100px;
}


.linksBox {
    grid-column: 1 / 1;
    /* border: 1px solid gray; */
    min-width: 600px;
}
.urlGenerator {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 15%;
}

.textField {
    margin-left: 10px;
    margin-right: 10px;
}
.notVisibleTextField {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    min-height: 25px;
}
.alignedButton {
    display: inline-flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.alignedButtonClipboard {
    display: inline-flex;
    margin-left: 30px;
    margin-bottom: 10px;
}
.shortenedLink {
    background-color: rgb(185, 220, 241);
}








.recordsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5.5%;
    margin-right: 15%;
    /* border-top: 1px solid gray; */

}
.recordRow {
    margin: 8px;
}
.linksHeader {
    /* margin-left: 40%; */
    text-align: right;
    margin-right: 55%;
    margin-bottom: 30px;
    font-size: x-large;
}


