body {
    background: linear-gradient(0.75turn, #3f87a6, #ebf8e1, #f69d3c);
}

.qrImage {
    margin-top: 10px;
}
.qrText {
    margin-top: 100px;
}
.recordCell {
    margin-right: 20px;
}


.alignedButtonClipboard {
    display: inline-flex;
    margin-left: 30px;
    margin-bottom: 10px;
}
